SMARTPROXY_CC = "us"
DEFAULT_DELAY_MIN = 0.8
DEFAULT_DELAY_MAX = 1.6
DEFAULT_PROXY_MODE = "sticky"

SMARTPROXY_HOST = "host"
SMARTPROXY_PORT = port
SMARTPROXY_USER = "user"
SMARTPROXY_PASSWORD = "password"

HUNTER_API_KEY = 'hunter-api'
